body{
    margin: 0;
}
.topl {
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    height: 40px;
    box-shadow: 0px 0px 0px #b1b1b1;
}
.wrap {
    width: 800px;
    overflow:hidden;
    margin: 0 50%;
}
.topl a {
    float:left; 
    border-left:1px solid #a3a3a3;
    border-right:1px solid #a3a3a3; 
    margin-right: 5px; 
    background:#c3c3c3;
    height: 40px; 
    line-height: 40px;
    width:100px;
    text-decoration: none;
    color: #000; 
    transition:0.3s ease-in-out;
}
.topl a:hover{
    box-shadow:1 inset 0px 0px 10px #a3a3a3;
}
.topl .menux{
    position: absolute;
    top:41px;
    left: 240px; 
    width:200px;
    background:#d8d8d8;
    border:1px solid #a3a3a3;
    border-top: 0px solid black;
    display: none;
    margin: 0 34%
}
.topl .menux a{
    width: 95%;
    height: 25px;
    margin: 1%;
    margin-top: 5px; background:#ffffff;
    line-height: 25px;
    border:1px solid #a3a3a3; margin-left: 4px;
    margin-left: 4px;
}
.topl .menux a:last-child{
    margin-bottom: 5px;
}
.topl a:last-child{
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    margin-right: 0px;
}